/* .App {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.header {
  background-color: rgb(66, 66, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

.header * {
  margin: 2px;
}

.header>h3 {
  color: rgb(204, 182, 134)
}

body {
  color: white;
  background-color: rgb(32, 32, 49);
}

#btnContainer {
  display: flex;
}

#btnContainer button {
  padding: 7px 15px;
  font-size: 1rem;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

#btnContainer img {
  width: 30px;
  margin-right: 7px;
}

#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio>p {
  width: 700px;
}

#copyright {
  display: flex;
  justify-self: center;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(19, 19, 31);
}

#footerLinks {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#footerLinks button {
  margin: 0 25px;
}